# based on: https://framagit.org/oxyta.net/docker-atelier/-/blob/master/bag/docker-compose.yml
# https://github.com/wallabag/docker
services:
  wallabag-postgres:
    image: postgres:18.0-alpine3.22
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      start_period: 60s
    environment:
      POSTGRES_DB: ${POSTGRES_USER} # should be equal POSTGRES_USER, because on wallabag migration it not specify db name(and use username)
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${STORAGE_PATH}/wallabag/db/postgres:/var/lib/postgresql

  wallabag-redis:
    image: redis:8.2.3-alpine3.22
    restart: unless-stopped
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      start_period: 60s
    volumes:
      - ${STORAGE_PATH}/wallabag/db/redis:/data

  wallabag:
    image: wallabag/wallabag:2.6.14
    restart: unless-stopped
    depends_on:
      wallabag-postgres:
        condition: service_healthy
      wallabag-redis:
        condition: service_healthy
    volumes:
      - ${STORAGE_PATH}/wallabag/images:/var/www/wallabag/web/assets/images
      - ${STORAGE_PATH}/wallabag/data:/var/www/wallabag/data
    environment:
      # PG user for migrations
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      SYMFONY__ENV__DATABASE_DRIVER: pdo_pgsql
      SYMFONY__ENV__DATABASE_HOST: wallabag-postgres
      SYMFONY__ENV__DATABASE_PORT: 5432
      SYMFONY__ENV__DATABASE_NAME: ${POSTGRES_DB}
      # PG user for app. Should be equal, because on creation new user don't have access to db
      SYMFONY__ENV__DATABASE_USER: ${POSTGRES_USER}
      SYMFONY__ENV__DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      SYMFONY__ENV__REDIS_HOST: wallabag-redis
      SYMFONY__ENV__REDIS_PORT: 6379
      SYMFONY__ENV__REDIS_PASSWORD: ${REDIS_PASSWORD}
      SYMFONY__ENV__SECRET: ${APP_SECRET}
      SYMFONY__ENV__DOMAIN_NAME: https://wallabag.$BASE_DOMAIN
      SYMFONY__ENV__LOCALE: ru
    labels:
      traefik.enable: true
      traefik.http.routers.wallabag.entrypoints: websecure
      traefik.http.routers.wallabag.rule: Host(`wallabag.$BASE_DOMAIN`)
      traefik.http.services.wallabag.loadbalancer.server.port: 80
      # custom
      traefik.http.routers.wallabag.middlewares: wallabag-mw
      traefik.http.middlewares.wallabag-mw.headers.frameDeny: true
      # homepage
      homepage.group: Others
      homepage.name: WallaBag
      homepage.icon: wallabag-light.svg
      homepage.href: https://wallabag.$BASE_DOMAIN
      homepage.description: Save and classify articles

networks:
  default:
    external: true
    name: proxy
